:root {
  /* colors */
  --primary-text: #0c1421;
  --secondary-text: #313957;
  /* all colors */
  --Darker-primary: #3568d4;
  --main-color-primary: #3e7bfa;
  --lighter-primary: #6698fa;
  --Dark-one: #1c1c28;
  --Dark-two: #28293d;
  --Teal: #00cfde;
  --red: #ff3b3b;
  --green: #06c270;
  --blue: #0063f7;
  --purble: #4c0099;
  --light-one: #ffffff;
  --light-one: #fafafc;
  --light-text: #888888;
  --mint-green: #03bc6c;
  --linear-blue: #2b6de6;
  --input-bg: #f7fbff;
  --border-main: #d4d7e3;
  /* linear gradiant */
  --linear-main: linear-gradient(
    90deg,
    rgba(98, 98, 98, 0.15) 19%,
    rgba(11, 231, 221, 0.15) 26%,
    rgba(98, 98, 98, 0) 33%,
    rgba(98, 98, 98, 0.15) 62%,
    rgba(205, 169, 52, 0.15) 68%,
    rgba(98, 98, 98, 0.15) 76%
  );
  /* fonts */
  --font-family-primary: "Cairo", sans-serif;
  --font-family-secondary: "Roboto", sans-serif;
  /* Radius */
  --main-radius: 12px;
}
* {
  font-family: var(--font-family-primary);
}
*::first-letter {
  text-transform: capitalize;
}
/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
header {
  background: var(--linear-main);
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}
header nav {
  background-color: #a1a1a1;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
}
header nav .navbar-brand:focus-visible {
  outline: none;
}
header nav .avatar .nav-link {
  overflow: hidden;
}
/*--------------------------------------------------------------
# create Project Page
--------------------------------------------------------------*/
#createProject h1,
#createProject h4 {
  color: black;
}
#createProject form label {
  color: var(--primary-text);
}
#createProject form input.form-control {
  background-color: var(--input-bg);
  border: 1px solid var(--border-main);
  border-radius: var(--main-radius);
  line-height: 2;
}
#createProject form .btn {
  border-radius: var(--main-radius);
}
#createProject form .btn:first-child {
  background-color: var(--main-color-primary);
}
#createProject form .btn:last-child {
  background-color: var(--Dark-two);
}
/*--------------------------------------------------------------
# login Page
--------------------------------------------------------------*/
#access .card {
  border: none;
}
#access h1 {
  color: var(--primary-text);
}
#access h6 {
  color: var(--secondary-text);
}
#access form button {
  background-color: var(--main-color-primary);
  color: var(--light-one);
}
#access form .form-check a {
  color: var(--main-color-primary);
}
#access form label {
  color: var(--primary-text);
}
#access .socialite a {
  background-color: var(--input-bg);
  border: 1px solid var(--border-main);
}
#access input.form-control {
  background-color: var(--input-bg);
  border: 1px solid var(--border-main);
  border-radius: var(--main-radius);
}
#access .form-check-label {
  color: var(--Dark-one);
}
#access input.form-control {
  line-height: 2;
}
/*--------------------------------------------------------------
# All-Projects page
--------------------------------------------------------------*/
#allProjects {
  min-height: 85vh;
}
#allProjects .breadcrumb-item a {
  color: black;
  text-decoration: none;
}
#allProjects input,
#allProjects select {
  background-color: var(--input-bg);
  border: 1px solid var(--border-main);
}
#allProjects input {
  border-top-left-radius: var(--main-radius);
  border-bottom-left-radius: var(--main-radius);
}
#allProjects select {
  border-radius: var(--main-radius);
}
#allProjects #searchBtn {
  border-top-right-radius: var(--main-radius);
  border-bottom-right-radius: var(--main-radius);
  background-color: var(--main-color-primary);
  color: var(--light-one);
}

#allProjects a.btn {
  background-color: var(--input-bg);
  border: 1px solid var(--border-main);
  border-radius: var(--main-radius);
}
#allProjects .card {
  border-radius: var(--main-radius);
  overflow: hidden;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
#allProjects .card .card-body p {
  color: var(--Dark-one);
}
#allProjects .card .card-body p i {
  font-size: 32px;
}
#allProjects a.btn.newProjectBtn {
  background-color: var(--Dark-two);
  color: var(--light-one);
}

#allProjects .card .number {
  width: 40px;
  border-radius: 50%;
  border: 1px solid white;
}
/* projects cards color based on type */
/* 
  Video => Vcard
  Audio => Acard
  Image => Icard
  Document => Dcard
  
*/
#allProjects .Vcard {
  background-color: var(--red);
  color: var(--light-one);
}
#allProjects .Acard {
  background-color: var(--lighter-primary);
  color: var(--light-one);
}

#allProjects .Icard {
  background-color: var(--green);
  color: var(--light-one);
}

#allProjects .Dcard {
  background-color: var(--Teal);
  color: var(--light-one);
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  background: var(--linear-main);
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  color: black;
}
